/*
    font-style
    font-weight
    font-size
    font-family
    text-align
    line-height
    letter-spacing
    text-transform
*/


h1 {

	position: fixed;
    top: 0;
    font-style: oblique;
    padding: 350px;
    font-size: 150px;
    

}


.first {

    float: right;
    margin-right: 20px;
    position: static;
}


h2 {

	
	font-size: 12px;
	font-family: helvetica;
}

.palm { 

        margin-top: 60px;
         position: static;
         font-size: 10px;

}

p { line-height: 19px;
	font-family: helvetica;
	font-size: 10px;
}

