

.title { 

	color: gray; 

    

}

.palm {


    background-color: #ACE3B0;
	color:  white;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 30px;


}

.dive  { 

	background-color: red;
		

}


.eyes  { 

	border: 5px solid red;
	color: red;
}



.paradise {
			background-color: #ACC4E3;
			color: white;


}






