/*
    font-style
    font-weight
    font-size
    font-family
    text-align
    line-height
    letter-spacing
    text-transform
*/

body {

	font-size: 40px;
	font-family: helvetica;
}

.title {

    float: right;
    margin-right: 20px;
   	position: fixed;
   	border: 1px dashed #93FAF5;
   	padding: 5px;
   	font-style: italic;

    
}

.sunset {
 float:right;
}



.palm { 

        margin-top: 60px;

}

p { line-height: 19px;
}

.last